version: '3.0.0.{build}'

shallow_clone: true

notifications:
  - provider: Webhook
    url: https://webhooks.gitter.im/e/6f33fb3550cb96501f64
    on_build_success: true
    on_build_failure: true
    on_build_status_changed: true

environment:
  ATK_ROOT: C:\projects\AudioTK
  ATK_OUT: C:\projects\ATK
  FFTW_ROOT: C:\projects\fftw
  matrix:
#### VS 2015
 ### Debug build
    - MY_NAME: VS 2015 Debug
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      BOOST_ROOT: C:/Libraries/boost_1_63_0
      FFTW_NAME: fftw-3.3.5-dll64.zip
      BITS: 64
      MSVC_PLATFORM: amd64
      SHORT_MSVC_PLATFORM: x64
      COMPILER: Visual Studio 14 2015 Win64
      OUTPUT: dynamic-x64
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_PYTHON=OFF"
      VSINSTALL: "\\Microsoft Visual Studio 14.0\\VC"
      MSVC_VERSION: msvc-14.0
      PYTHON_VERSION: none
      BUILD_CONFIGURATION: Debug

 ### static runtime
    - MY_NAME: VS 2015 Release Static 32
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      BOOST_ROOT: C:/Libraries/boost_1_63_0
      FFTW_NAME: fftw-3.3.5-dll32.zip
      BITS: 32
      MSVC_PLATFORM: x86
      SHORT_MSVC_PLATFORM: x86
      COMPILER: Visual Studio 14 2015
      OUTPUT: static-x86
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_PYTHON=OFF -DENABLE_SIMD=OFF -DMSVC_RUNTIME=Static -DENABLE_SHARED_LIBRARIES=OFF -DENABLE_TESTS=OFF"
      VSINSTALL: "Microsoft Visual Studio 14.0\\VC"
      MSVC_VERSION: msvc-14.0
      PYTHON_VERSION: none
      BUILD_CONFIGURATION: Release

    - MY_NAME: VS 2015 Release Static 64
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      BOOST_ROOT: C:/Libraries/boost_1_63_0
      FFTW_NAME: fftw-3.3.5-dll64.zip
      BITS: 64
      MSVC_PLATFORM: amd64
      SHORT_MSVC_PLATFORM: x64
      COMPILER: Visual Studio 14 2015 Win64
      OUTPUT: static-x64
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_PYTHON=OFF -DMSVC_RUNTIME=Static -DENABLE_SHARED_LIBRARIES=OFF -DENABLE_TESTS=OFF"
      VSINSTALL: "Microsoft Visual Studio 14.0\\VC"
      MSVC_VERSION: msvc-14.0
      PYTHON_VERSION: none
      BUILD_CONFIGURATION: Release

 ### shared runtime
    - MY_NAME: VS 2015 Release Shared 32 Python 2
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      BOOST_ROOT: C:/Libraries/boost_1_63_0
      FFTW_NAME: fftw-3.3.5-dll32.zip
      BITS: 32
      MSVC_PLATFORM: x86
      SHORT_MSVC_PLATFORM: x86
      COMPILER: Visual Studio 14 2015 
      OUTPUT: dynamic-x86
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_SIMD=OFF -DENABLE_PYTHON=ON -DDISABLE_PYTHON_TESTS=ON -DPYTHON_EXECUTABLE=C:\\Python27\\python.exe"
      VSINSTALL: "Microsoft Visual Studio 14.0\\VC"
      MSVC_VERSION: msvc-14.0
      PYTHON: C:\\Python27
      PYTHON_VERSION: 2.7
      BUILD_CONFIGURATION: Release

    - MY_NAME: VS 2015 Release Shared 64 Python 2
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      BOOST_ROOT: C:/Libraries/boost_1_63_0
      FFTW_NAME: fftw-3.3.5-dll64.zip
      BITS: 64
      MSVC_PLATFORM: amd64
      SHORT_MSVC_PLATFORM: x64
      COMPILER: Visual Studio 14 2015 Win64
      OUTPUT: dynamic-x64
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_PYTHON=ON -DDISABLE_PYTHON_TESTS=ON -DPYTHON_EXECUTABLE=C:\\Python27-x64\\python.exe"
      VSINSTALL: "\\Microsoft Visual Studio 14.0\\VC"
      MSVC_VERSION: msvc-14.0
      PYTHON: C:\\Python27-x64
      PYTHON_VERSION: 2.7
      BUILD_CONFIGURATION: Release

    - MY_NAME: VS 2015 Release Shared 32 Python 3
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      BOOST_ROOT: C:/Libraries/boost_1_63_0
      FFTW_NAME: fftw-3.3.5-dll32.zip
      BITS: 32
      MSVC_PLATFORM: x86
      SHORT_MSVC_PLATFORM: x86
      COMPILER: Visual Studio 14 2015 
      OUTPUT: dynamic-x86
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_SIMD=OFF -DENABLE_PYTHON=ON -DDISABLE_PYTHON_TESTS=ON -DPYTHON_EXECUTABLE=C:\\Python27\\python.exe"
      VSINSTALL: "Microsoft Visual Studio 14.0\\VC"
      MSVC_VERSION: msvc-14.0
      PYTHON: C:\\Python36
      PYTHON_VERSION: 3.6
      BUILD_CONFIGURATION: Release

    - MY_NAME: VS 2015 Release Shared 64 Python 3
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      BOOST_ROOT: C:/Libraries/boost_1_63_0
      FFTW_NAME: fftw-3.3.5-dll64.zip
      BITS: 64
      MSVC_PLATFORM: amd64
      SHORT_MSVC_PLATFORM: x64
      COMPILER: Visual Studio 14 2015 Win64
      OUTPUT: dynamic-x64
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_PYTHON=ON -DDISABLE_PYTHON_TESTS=ON -DPYTHON_EXECUTABLE=C:\\Python27-x64\\python.exe"
      VSINSTALL: "\\Microsoft Visual Studio 14.0\\VC"
      MSVC_VERSION: msvc-14.0
      PYTHON: C:\\Python36-x64
      PYTHON_VERSION: 3.6
      BUILD_CONFIGURATION: Release

#### VS 2017
 ### Debug build
    - MY_NAME: VS 2017 Debug
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BOOST_ROOT: C:/Libraries/boost_1_65_1
      FFTW_NAME: fftw-3.3.5-dll64.zip
      BITS: 64
      MSVC_PLATFORM: amd64
      SHORT_MSVC_PLATFORM: x64
      COMPILER: Visual Studio 15 2017 Win64
      OUTPUT: dynamic-x64
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_PYTHON=OFF"
      VSINSTALL: "Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build"
      MSVC_VERSION: msvc-14.1
      PYTHON_VERSION: none
      BUILD_CONFIGURATION: Debug

 ### static runtime
    - MY_NAME: VS 2017 Release Static 32
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BOOST_ROOT: C:/Libraries/boost_1_65_1
      FFTW_NAME: fftw-3.3.5-dll32.zip
      BITS: 32
      MSVC_PLATFORM: x86
      SHORT_MSVC_PLATFORM: x86
      COMPILER: Visual Studio 15 2017
      OUTPUT: static-x86
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_PYTHON=OFF -DENABLE_SIMD=OFF -DMSVC_RUNTIME=Static -DENABLE_SHARED_LIBRARIES=OFF -DENABLE_TESTS=OFF"
      VSINSTALL: "Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build"
      MSVC_VERSION: msvc-14.1
      PYTHON_VERSION: none
      BUILD_CONFIGURATION: Release

    - MY_NAME: VS 2017 Release Static 64
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BOOST_ROOT: C:/Libraries/boost_1_65_1
      FFTW_NAME: fftw-3.3.5-dll64.zip
      BITS: 64
      MSVC_PLATFORM: amd64
      SHORT_MSVC_PLATFORM: x64
      COMPILER: Visual Studio 15 2017 Win64
      OUTPUT: static-x64
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_PYTHON=OFF -DMSVC_RUNTIME=Static -DENABLE_SHARED_LIBRARIES=OFF -DENABLE_TESTS=OFF"
      VSINSTALL: "Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build"
      MSVC_VERSION: msvc-14.1
      PYTHON: C:\\Python27-x64
      PYTHON_VERSION: none
      BUILD_CONFIGURATION: Release

 ### shared runtime
    - MY_NAME: VS 2017 Release Shared 32 Python 2
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BOOST_ROOT: C:/Libraries/boost_1_65_1
      FFTW_NAME: fftw-3.3.5-dll32.zip
      BITS: 32
      MSVC_PLATFORM: x86
      SHORT_MSVC_PLATFORM: x86
      COMPILER: Visual Studio 15 2017 
      OUTPUT: dynamic-x86
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_SIMD=OFF -DENABLE_PYTHON=ON -DDISABLE_PYTHON_TESTS=ON -DPYTHON_EXECUTABLE=C:\\Python27\\python.exe"
      VSINSTALL: "Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build"
      MSVC_VERSION: msvc-14.1
      PYTHON: C:\\Python27
      PYTHON_VERSION: 2.7
      BUILD_CONFIGURATION: Release

    - MY_NAME: VS 2017 Release Shared 64 Python 2
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BOOST_ROOT: C:/Libraries/boost_1_65_1
      FFTW_NAME: fftw-3.3.5-dll64.zip
      BITS: 64
      MSVC_PLATFORM: amd64
      SHORT_MSVC_PLATFORM: x64
      COMPILER: Visual Studio 15 2017 Win64
      OUTPUT: dynamic-x64
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_PYTHON=ON -DDISABLE_PYTHON_TESTS=ON -DPYTHON_EXECUTABLE=C:\\Python27-x64\\python.exe"
      VSINSTALL: "Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build"
      MSVC_VERSION: msvc-14.1
      PYTHON: C:\\Python27-x64
      PYTHON_VERSION: 2.7
      BUILD_CONFIGURATION: Release

    - MY_NAME: VS 2017 Release Shared 32 Python 3
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BOOST_ROOT: C:/Libraries/boost_1_65_1
      FFTW_NAME: fftw-3.3.5-dll32.zip
      BITS: 32
      MSVC_PLATFORM: x86
      SHORT_MSVC_PLATFORM: x86
      COMPILER: Visual Studio 15 2017 
      OUTPUT: dynamic-x86
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_SIMD=OFF -DENABLE_PYTHON=ON -DDISABLE_PYTHON_TESTS=ON -DPYTHON_EXECUTABLE=C:\\Python27\\python.exe"
      VSINSTALL: "Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build"
      MSVC_VERSION: msvc-14.1
      PYTHON: C:\\Python36
      PYTHON_VERSION: 3.6
      BUILD_CONFIGURATION: Release

    - MY_NAME: VS 2017 Release Shared 64 Python 3
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BOOST_ROOT: C:/Libraries/boost_1_65_1
      FFTW_NAME: fftw-3.3.5-dll64.zip
      BITS: 64
      MSVC_PLATFORM: amd64
      SHORT_MSVC_PLATFORM: x64
      COMPILER: Visual Studio 15 2017 Win64
      OUTPUT: dynamic-x64
      ADDITONAL_CMAKE_FLAGS: "-DENABLE_PYTHON=ON -DDISABLE_PYTHON_TESTS=ON -DPYTHON_EXECUTABLE=C:\\Python27-x64\\python.exe"
      VSINSTALL: "Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build"
      MSVC_VERSION: msvc-14.1
      PYTHON: C:\\Python36-x64
      PYTHON_VERSION: 3.6
      BUILD_CONFIGURATION: Release

matrix:
  fast_finish: true

init:
  - cmake --version
  - C:\"Program Files (x86)"\"%VSINSTALL%"\vcvarsall.bat %MSVC_PLATFORM%
  - ls C:
  - ls C:\Libraries

before_build:
  - mkdir %FFTW_ROOT%
  - cd %FFTW_ROOT%
  - ps: wget ftp://ftp.fftw.org/pub/fftw/$env:FFTW_NAME -OutFile $env:FFTW_NAME
  - 7z x %FFTW_NAME%
  - ps: lib /machine:$env:SHORT_MSVC_PLATFORM /def:libfftw3-3.def
  - ps: lib /machine:$env:SHORT_MSVC_PLATFORM /def:libfftw3f-3.def
  - cd %ATK_ROOT%
  - mkdir 3rdParty
  - git clone https://github.com/mbrucher/pybind11 3rdParty\pybind11
  - git clone https://github.com/mbrucher/GSL 3rdParty\gsl
  - git clone https://github.com/mbrucher/eigen-git-mirror 3rdParty\eigen
  - mkdir build
  - cd build
  - cmake -G "%COMPILER%" %ADDITONAL_CMAKE_FLAGS% -DENABLE_GPL=ON -DBOOST_ROOT=%BOOST_ROOT% -DCMAKE_INSTALL_PREFIX=%ATK_OUT% -DFFTW_INCLUDES=%FFTW_ROOT% -DFFTW_LIBRARY_FFTW3=%FFTW_ROOT%\libfftw3-3.lib -DFFTW_LIBRARY_FFTW3F=%FFTW_ROOT%\libfftw3f-3.lib -DENABLE_STATIC_LIBRARIES=ON ..

build_script:
  - msbuild INSTALL.vcxproj /property:Configuration=%BUILD_CONFIGURATION%

after_build:
  - cd %ATK_OUT%
  - 7z a %ATK_ROOT%\AudioTK.%MSVC_VERSION%.py%PYTHON_VERSION%.%OUTPUT%-%BUILD_CONFIGURATION%.zip * -tzip

test_script:
  - set PATH=%ATK_OUT%\bin;%BOOST_ROOT%\lib%BITS%-%MSVC_VERSION%;%FFTW_ROOT%;%PATH%
  - set PYTHONPATH=%ATK_OUT%\lib\site-packages:%PYTHONPATH%
  - cd %ATK_ROOT%\build
  - set CTEST_OUTPUT_ON_FAILURE=True
  - msbuild RUN_TESTS.vcxproj /property:Configuration=%BUILD_CONFIGURATION%

artifacts: 
  - path: AudioTK.%MSVC_VERSION%.py%PYTHON_VERSION%.%OUTPUT%-%BUILD_CONFIGURATION%.zip
    name: package

deploy:
  provider: GitHub
  description: 'Audio Toolkit files'
  auth_token:
    secure: jkxOmoTMtVlBIlIlVlxiGzV+4AX9NMjfT0hzTS3JxNtjGken02XG0FaDESBDxS0+
  artifact: package
  on:
    appveyor_repo_tag: true
