# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.cmake
CMakeFiles
CMakeCache.txt
config.h
Makefile

**.build
**.xcodeproj

**_test
Testing
*.wav

Python/*/*.py
Python/*/*wrap.cxx
*.pyc

doc/build
Examples/*.txt
*.sh

