# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.cmake
CMakeFiles
CMakeCache.txt
config.h

**.build
**.xcodeproj

**_test
Testing
*.wav

