
language: cpp

notifications:
  email: false
  # gitter
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/b43314c68a0082edd974
    on_success: always
    on_failure: always
git:
  depth: 500

jobs:
  include:
  - compiler: gcc-9
    os: linux
    dist: bionic
    python: 3.8
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-9
        - libfftw3-dev
        - libsndfile-dev
        - swig
        - libatlas-base-dev
        - curl
      sonarcloud:
        organization: "mbrucher-github"
    env:
    - MY_NAME: Static Analysis
    - COMPILER=g++-9
    - PLATFORM=gcc-9
    - ENABLE_PYTHON=OFF
    - ENABLE_STATIC_ANALYSIS=ON
    - ENABLE_CODECOVERAGE=ON
    - GCOV_VERSION=gcov-9
    - Python_ADDITIONAL_VERSIONS=3.8.1
    - BUILD_TYPE=Coverage
    - CUSTOM_LCOV=ON
    - MAKE_WRAPPER="build-wrapper-linux-x86-64 --out-dir bw-outputs "
    - ADDITONAL_CMAKE_FLAGS="-DPYTHON_LIBRARY=/opt/python/${Python_ADDITIONAL_VERSIONS}/lib/libpython${PYTHON_VERSION}.so -DPYTHON_INCLUDE_DIR=/opt/python/${Python_ADDITIONAL_VERSIONS}/include/python${PYTHON_VERSION} -DPYTHON_EXECUTABLE=/opt/python/${Python_ADDITIONAL_VERSIONS}/bin/python -DENABLE_CODECOVERAGE=ON -DENABLE_STATIC_LIBRARIES=OFF -DCMAKE_CXX_FLAGS_DEBUG_INIT=\"-O0\""
  - compiler: gcc-9
    os: linux
    dist: bionic
    python: 3.8
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-9
        - libfftw3-dev
        - libsndfile-dev
        - swig
    env:
    - MY_NAME: GCC 9
    - COMPILER=g++-9
    - PLATFORM=gcc-9
    - ENABLE_PYTHON=ON
    - PYTHON_VERSION=3.7
    - PYTHON=python3
    - Python_ADDITIONAL_VERSIONS=3.8.1
    - BUILD_TYPE=Release
    - ADDITONAL_CMAKE_FLAGS="-DPYTHON_LIBRARY=/opt/python/${Python_ADDITIONAL_VERSIONS}/lib/libpython${PYTHON_VERSION}.so -DPYTHON_INCLUDE_DIR=/opt/python/${Python_ADDITIONAL_VERSIONS}/include/python${PYTHON_VERSION} -DPYTHON_EXECUTABLE=/opt/python/${Python_ADDITIONAL_VERSIONS}/bin/python -DENABLE_STATIC_LIBRARIES=ON"
  - compiler: clang-9
    os: linux
    dist: bionic
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - sourceline: 'deb https://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
          key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
        packages:
        - clang-9
        - g++-9
        - libfftw3-dev
        - libsndfile-dev
        - swig
        - libatlas-base-dev
    env:
    - MY_NAME=ASAN
    - COMPILER=clang++-9
    - PLATFORM=clang-9
    - ENABLE_PYTHON=OFF
    - BUILD_TYPE=Debug
    - ASAN_OPTIONS=verbosity=1:detect_stack_use_after_return=true
    - LD_PRELOAD_=/usr/lib/llvm-9/lib/clang/9.0.0/lib/linux/libclang_rt.asan-x86_64.so
    - ADDITONAL_CMAKE_FLAGS="-DENABLE_ADDRESS_SANITIZER=ON -DENABLE_STATIC_LIBRARIES=OFF  -DCMAKE_CXX_FLAGS_DEBUG_INIT=\"-O0\""
    - ASAN_OPTIONS=detect_leaks=0
    - ASAN_SYMBOLIZER_PATH=llvm-symbolizer
  - compiler: clang-9
    os: linux
    dist: bionic
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - sourceline: 'deb https://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
          key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
        packages:
        - clang-9
        - g++-9
        - libfftw3-dev
        - libsndfile-dev
        - swig
        - libatlas-base-dev
        - curl
        - lcov
      sonarcloud:
        organization: "mbrucher-github"
    env:
    - MY_NAME=LLVM coverage
    - COMPILER=clang++-9
    - PLATFORM=clang-9
    - ENABLE_PYTHON=OFF
    - BUILD_TYPE=Debug
    - ENABLE_STATIC_ANALYSIS=OFF
    - ENABLE_CODECOVERAGE=ON
    - MAKE_WRAPPER="build-wrapper-linux-x86-64 --out-dir bw-outputs "
    - ADDITONAL_CMAKE_FLAGS="-DENABLE_CODECOVERAGE=ON -DLCOV_SCRIPT=--gcov-tool=`pwd`/scripts/llvm-cov.sh -DENABLE_STATIC_LIBRARIES=OFF -DCMAKE_CXX_FLAGS_DEBUG_INIT=\"-O0\""
  - compiler: clang-9
    os: linux
    dist: bionic
    python: 3.7
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - sourceline: 'deb https://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
          key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
        packages:
        - clang-9
        - g++-9
        - libfftw3-dev
        - libsndfile-dev
        - swig
    env:
    - MY_NAME: clang 9
    - COMPILER=clang++-9
    - PLATFORM=clang-9
    - ENABLE_PYTHON=ON
    - PYTHON_VERSION=3.8
    - PYTHON=python3
    - Python_ADDITIONAL_VERSIONS=3.8.1
    - BUILD_TYPE=Release
    - ADDITONAL_CMAKE_FLAGS="-DDISABLE_PYTHON_TESTS=ON -DPYTHON_LIBRARY=/opt/python/${Python_ADDITIONAL_VERSIONS}/lib/libpython${PYTHON_VERSION}.so -DPYTHON_INCLUDE_DIR=/opt/python/${Python_ADDITIONAL_VERSIONS}/include/python${PYTHON_VERSION} -DPYTHON_EXECUTABLE=/opt/python/${Python_ADDITIONAL_VERSIONS}/bin/python -DENABLE_STATIC_LIBRARIES=ON"
  - os: osx
    osx_image: xcode12
    python: 3.7
    env:
    - MY_NAME: XCode 12
    - COMPILER=clang++
    - PLATFORM=xcode-12
    - ADDITONAL_CMAKE_FLAGS=-DDISABLE_PYTHON_TESTS=ON -DCMAKE_OSX_ARCHITECTURES="x86_64" -DENABLE_STATIC_LIBRARIES=ON
    - ENABLE_PYTHON=ON
    - PYTHON_VERSION=3.7
    - PYTHON=python
    - Python_ADDITIONAL_VERSIONS=3.7
    - BUILD_TYPE=Release
  - os: osx
    osx_image: xcode11.6
    python: 3.7
    env:
    - MY_NAME: XCode 11
    - COMPILER=clang++
    - PLATFORM=xcode-11.6
    - ADDITONAL_CMAKE_FLAGS=-DDISABLE_PYTHON_TESTS=ON -DCMAKE_OSX_ARCHITECTURES="i386,x86_64" -DENABLE_STATIC_LIBRARIES=ON
    - ENABLE_PYTHON=ON
    - PYTHON_VERSION=3.7
    - PYTHON=python
    - Python_ADDITIONAL_VERSIONS=3.7
    - BUILD_TYPE=Release

before_install:
  - ls /usr/lib
  - ls /usr/lib/llvm-*/lib/clang/ || true
  - ls /usr/lib/llvm-*/lib/clang/*/lib/linux || true
  - mkdir -p $HOME/usr/bin
  - export PATH="$HOME/usr/bin:$PATH"
  - export PATH="/usr/local/bin:$PATH"
  - |
    if [[ "${ENABLE_CODECOVERAGE}" = "ON" ]]; then
      ln -s /usr/bin/$GCOV_VERSION $HOME/usr/bin/gcov
    fi
  - |
    if [[ "${CUSTOM_LCOV}" = "ON" ]]; then
      wget http://ftp.de.debian.org/debian/pool/main/l/lcov/lcov_1.14.orig.tar.gz
      tar xzf lcov_1.14.orig.tar.gz
      cd lcov-1.14
      wget https://github.com/linux-test-project/lcov/commit/ebfeb3e179e450c69c3532f98cd5ea1fbf6ccba7.diff
      patch -p1 < ebfeb3e179e450c69c3532f98cd5ea1fbf6ccba7.diff
      wget https://github.com/linux-test-project/lcov/commit/75fbae1cfc5027f818a0bb865bf6f96fab3202da.diff
      patch -p1 < 75fbae1cfc5027f818a0bb865bf6f96fab3202da.diff

      sudo make install
      cd ..
      cpanm --sudo --notest PerlIO::gzip JSON
    fi
  - |
    if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then
      ls /opt/python/
      wget https://cmake.org/files/v3.12/cmake-3.12.1-Linux-x86_64.sh
      chmod +x cmake-3.12.1-Linux-x86_64.sh
      ./cmake-3.12.1-Linux-x86_64.sh --prefix=$HOME/usr --exclude-subdir --skip-license
      if [[ "$ENABLE_PYTHON" == "ON" ]]; then
        /opt/python/${Python_ADDITIONAL_VERSIONS}/bin/python${Python_ADDITIONAL_VERSIONS} -m pip install numpy scipy nose
      fi
    fi

  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew update
      rm -f /usr/local/include/c++
      brew install fftw libsndfile swig
      brew upgrade cmake
      if [[ "$ENABLE_PYTHON" == "ON" ]]; then
        if [[ "$PYTHON" == "python3" ]]; then brew upgrade python ; fi
        ${PYTHON} -V
        sudo ${PYTHON} -m pip install numpy scipy nose
      fi
    fi

  - wget --no-verbose --output-document=boost_1_73_0.tar.bz2 http://sourceforge.net/projects/boost/files/boost/1.73.0/boost_1_73_0.tar.bz2/download
  - export BOOST_ROOT="$TRAVIS_BUILD_DIR/../boost"
  - export BOOST_BUILD="$TRAVIS_BUILD_DIR/../boost-build"
  - mkdir -p $BOOST_ROOT
  - tar jxf boost_1_73_0.tar.bz2 --strip-components=1 -C $BOOST_ROOT

install:
  - "(cd $BOOST_ROOT; ./bootstrap.sh --with-libraries=system,test)"
  - "(cd $BOOST_ROOT; ./b2 threading=multi --prefix=$BOOST_BUILD -d0 install)"

before_script:
  - mkdir build
  - cd build
  - ${MAKE_WRAPPER} cmake -DENABLE_GPL=ON -DDISABLE_EIGEN_WARNINGS=ON -DCMAKE_CXX_COMPILER=$COMPILER -DBOOST_ROOT=$BOOST_BUILD -DCMAKE_INSTALL_PREFIX=${HOME}/ATK -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DENABLE_PYTHON=${ENABLE_PYTHON} ${ADDITONAL_CMAKE_FLAGS} ..

script:
  - pwd
  - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then export LD_LIBRARY_PATH=${HOME}/ATK/lib:$LD_LIBRARY_PATH ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export DYLD_LIBRARY_PATH=${HOME}/ATK/lib:$BOOST_BUILD/lib ; fi
  - ${MAKE_WRAPPER} make -j16
  - make install
  - export PYTHONPATH=${HOME}/ATK/lib/site-packages/:$PYTHONPATH
  - echo $DYLD_LIBRARY_PATH
  - echo $LD_LIBRARY_PATH
  - ls ${HOME}/ATK/lib
  - |
    if [[ "${ENABLE_CODECOVERAGE}" = "ON" ]]; then
      export PATH=${TRAVIS_BUILD_DIR}/script/:${PATH}
      VERBOSE=1 CTEST_OUTPUT_ON_FAILURE=TRUE make codecoverage
    else
      LD_PRELOAD=${LD_PRELOAD_} CTEST_OUTPUT_ON_FAILURE=TRUE make test
    fi

after_success:
  - |
    if [[ "${ENABLE_CODECOVERAGE}" = "ON" ]]; then
      bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"
    else
      cd ${HOME}/ATK
      tar -cvzf ${HOME}/AudioTK.${TRAVIS_OS_NAME}.${PLATFORM}.py${PYTHON_VERSION}.tar.gz *
    fi
  - |
    if [[ "${ENABLE_STATIC_ANALYSIS}" = "ON" ]]; then
      cd ..
      sonar-scanner
      exit
    fi
  - |
    if [[ "${ENABLE_CODECOVERAGE}" = "ON" ]]; then
      exit
    fi

after_script:
  - |
    if [[ "${ENABLE_STATIC_ANALYSIS}" = "ON" ]]; then
      cd ${HOME}
      echo ${SSH_KEY} > .ssh/id_rsa
      chmod 0600 .ssh/id_rsa
      GIT_SSH_COMMAND="ssh -v -i ~/.ssh/travis -o \"StrictHostKeyChecking no\"" git clone git+ssh://3649288@git.sd3.gpaas.net/cov.audio-tk.com.git
      cd cov.audio-tk.com
      git rm *
      cp -R ${TRAVIS_BUILD_DIR}/build/coverage/* cov.audio-tk.com
      git add .
      git commit -m "Run ${TRAVIS_JOB_ID}"
      git push
      ssh 3649288@git.sd3.gpaas.net deploy cov.audio-tk.com.git
    fi
  - |
   if [[ "${ENABLE_STATIC_ANALYSIS}" = "ON" ]]; then
     cd ${TRAVIS_BUILD_DIR}
     doxygen Doxyfile
     cd ${HOME}
     echo ${SSH_KEY} > .ssh/id_rsa
     chmod 0600 .ssh/id_rsa
     GIT_SSH_COMMAND="ssh -v -i ~/.ssh/travis -o \"StrictHostKeyChecking no\"" git clone git+ssh://3649288@git.sd3.gpaas.net/doc.audio-tk.com.git
     cd doc.audio-tk.com
     git rm *
     cp -R ${TRAVIS_BUILD_DIR}/Doxygen/* doc.audio-tk.com
     git add .
     git commit -m "Run ${TRAVIS_JOB_ID}"
     git push
     ssh 3649288@git.sd3.gpaas.net deploy doc.audio-tk.com.git
   fi

skip_cleanup:
  provider: releases
  api_key:
    secure: ilhQ9vSyOl+QjRiRebj7CuQPYY1OygH3YxEuuFOXVa1cN4iw5yid2igEScLfKB5Xn2x2jMYDqL4bC6nLMHa1GNtCTIhCJrrHhXPeYX1W1EsOtExfAbD1G0QvUoQPZEBnK1Lu2Uf+qiQaH1IEquhzux8dxRCe/qJJzpntoWiLgm6po1giUAyQGsVzKlon4dxhgq08QcYxaQq2snOcKFJVx+zfeELfB7RZeEQXymtlMosMWnoKv3tjtFI5crWWdjD8oYKaTdLEms5EmR/cXAoYZ8jkhW0mTn1j9Ww9gaN4f/AnIlZDyggsdxVsV77rW/Kh6qqUdRbWaAnnpDgozv/HNXkgrFpxNyevIiS/pfbiyIT1zqT+iy4N9ofuc8iWuXncom3tDK/aGU+KS693ZkeLkkOT+FhT3YnIwE7UHeRS/Lqn26FQXQ/u7stuYVxCTrGR+LsfOrQdxmkQVOKicbWlOkU0+JpccaoES+j7SSCGgUkO/5f8bFzTraEu5VCN9pTuMX7TIp8OwS7b13L/TZGPwoeJDBtn5SsUl/1cqpuJbjQvf0KQqp6tJcQ8LjS9K0WrtVB+T2coQC5vYz5pM4RhYcGavj6a9+RM6U13PDvpHgP5ec5zeGbNJ2QKHLZ8s0LiuSMgffhp0vsl8E0nWjpelnSIDPtCLv5xAtk47vn+aiQ=
  file: ${HOME}/AudioTK.${TRAVIS_OS_NAME}.${PLATFORM}.py${PYTHON_VERSION}.tar.gz
  on:
    repo: mbrucher/AudioTK
    tags: true
